<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Good night</title>
  <script></script>
  <link rel="stylesheet" href="layout/style.css">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="opacity-body">
    <div class="rain">
      <header role="header" class="container">
        <div class="intro">
          <h1>What was your dream tonight?</h1>
          <h2>
          	Welcome to {{ guestbook_name }} page.
          	<br>
          	{% if guestbook_name == 'main' %}
          		{% if url_linktext == 'Logout' %}
          			Choice you'r dream's type.
          		{% else %}
          			Login please.
          		{% endif %}
          	{% endif %}
          </h2>
          {% if url_linktext == 'Login' %}<a href="{{ url|safe }}">{{ url_linktext }}</a>{% endif %}
        </div>
        <div class="sorting">
        {% if url_linktext != 'Login' %}
	         <ul>
	           	<li>
	           		<form>
	      				<input for="sort-1" type="submit" value="fun" name="guestbook_name" width="100px">
		            </form>
	            </li>
	            <li>
	             	<form>
	      				<input for="sort-1" type="submit" value="sad" name="guestbook_name" width="100px">
		            </form>
	            </li>
	            <li>
	              	<form>
	      				<input for="sort-1" type="submit" value="weird" name="guestbook_name" width="100px">
		            </form>
	            <li>
		            <form>
	      				<input for="sort-1" type="submit" value="another" name="guestbook_name" width="100px">
		            </form>
	            </li>
	          </ul>
          {% endif %}
        </div>
      </header>
      <main>
      	<div class="maain">
	      	{% for greeting in greetings %}
	      		{% if greeting.author %}
	        		<b>{{ greeting.author.email }}
	          		{% if user and user.user_id() == greeting.author.identity %}
	            		(You)
	          		{% endif %}
	        		</b> wrote:
	      		{% else %}
	       			An anonymous person wrote:
	      		{% endif %}
	      		<blockquote>{{ greeting.content }}</blockquote>
	    	{% endfor %}
    	</div>
    	{% if guestbook_name != 'main' %}
          	<form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
	      		<div><textarea name="content" rows="1" cols="60" resize="none"></textarea></div>
	      		<div><input type="submit" value="Share you'r dream" width="200px"></div>
	    	</form>
        {% endif %}
      </main>
    </div>
  </div>
</body>
</html>