html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, 
h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, 
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video, main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;
}

button:active, button:focus,
input:active input:focus, textarea:active, textarea:focus{
  outline: none;
}
/*---- Картинка на бэкграунде -----*/
body{
    height: 100%;
    background: fixed url(https://github.com/DimaMorgun/praktika-secont-team/blob/master/img/11.jpg?raw=true) no-repeat;
    background-size: 100% 100%;
}
/*----- Цвет центрального фона -----*/
.rain{
    background-color: rgba(18, 22, 27,1.0);
    width: 70%;
    min-height: 600px;
    max-height: 1400px;
    height: 98vh;
    margin: 0 auto;
    border: 4px double white;
    border-radius: 15px;
    opacity: 0.9;
}
h1, h2, h3, a, p{
	color: white;
    font-family: Lobster;
}
a, ul, ol, li{text-decoration: none;list-style: none;}
.container{
	max-width: 95%;
	margin: 0 auto;
}

/*------------------------*/

header .intro{
	text-align: center;
	padding: 20px;
	font-size: 3em;
        -moz-user-select: none;
    o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

header .sorting{
	display: block;
}
header ul{
	text-align: center;
}
/*----- Цвет текста пунктов ------*/
header ul li{
	display: inline-block;
	text-align: left;
	padding: 10px;
	font-size: 2.75em;
	letter-spacing: 4px;
	color: rgba(91, 107, 137,1.0);
    margin-left
    -moz-user-select: none;
    o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
header ul li:not(:last-child){
    margin-right: 10px;
}
input[type="submit"]{
    width:250px;
    height:50px;
    margin:-1px 10px 0 0;
    vertical-align:middle;
    background:rgba(15, 10, 46, 0.5);
    color:ivory;
    font-size: 25px;
    font-family: Lobster;
    border-radius: 25px;
    border: 3px solid ivory;
    margin-top: 25px;
}
li input[type="submit"]{
    width: 150px;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:30px;
    height:30px;
    margin:-1px 10px 0 0;
    vertical-align:middle;
    background-image: url(https://github.com/DimaMorgun/praktika-secont-team/blob/master/img/sprite-1.png?raw=true);
    /*background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 96 84" enable-background="new 0 0 96 84" xml:space="preserve"><path fill="rgba(28, 33, 42,1.0)" d="M74.2,73.5H19.5c-2.8,0-5.1-2.3-5.1-5.1V15.6c0-2.8,2.3-5.1,5.1-5.1h54.7c2.8,0,5.1,2.3,5.1,5.1 v52.7C79.3,71.2,77,73.5,74.2,73.5z"/></svg>') no-repeat;*/
}
input[type="checkbox"]:checked + label span {
    background-image: url(https://github.com/DimaMorgun/praktika-secont-team/blob/master/img/sprite-2.png?raw=true);
    /*background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 96 84" enable-background="new 0 0 96 84" xml:space="preserve"><path fill="rgba(28, 33, 42,1.0)" d="M74.2,73.5H19.5c-2.8,0-5.1-2.3-5.1-5.1V15.6c0-2.8,2.3-5.1,5.1-5.1h54.7c2.8,0,5.1,2.3,5.1,5.1 v52.7C79.3,71.2,77,73.5,74.2,73.5z"/><polygon id="check" fill="rgb(251,253,223)" points="30.2,31.8 30.2,43 46.1,54 80.1,19.1 80.1,6.1 46.4,44.7 "/></svg>') no-repeat;*/
}
main{
    text-align: center;
    background:rgba(15, 10, 46, 0.2);
    color: ivory;
    font-size: 15px;
}
.maain{
    height: 275px;
}
a{
    background:rgba(15, 10, 46, 0.2);
    font-size: 50px;
    font-family: Lobster;
    border: 3px solid ivory;
    padding: 0 15px;
    border-radius: 15px;
    margin: auto;
}
textarea{
    resize: none;
    background:rgba(15, 10, 46, 0.2);
    color: ivory;
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
}
small{
    float: right;
    color: ivory;
    font-size: 12px;
    letter-spacing:1px;
}
/*----------------*/

