html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, 
h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, 
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video, main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;
}
button:active, button:focus,
input:active input:focus {
  outline: none;
}
body{
	background-color: rgba(44, 62, 80,1.0);
}
h1, h2, h3, a, p{
	color: white;
}
a, ul, ol, li{text-decoration: none;list-style: none;}
.container{
	max-width: 95%;
	margin: 0 auto;
}

/*------------------------*/

header .intro{
	text-align: center;
	padding: 20px;
	font-size: 2.5em;
}

header .sorting{
	display: block;
}
header ul{
	text-align: center;
}
header ul li{
	display: inline-block;
	text-align: left;
	padding: 10px;
	font-size: 2.5em;
	letter-spacing: 4px;
	color: rgba(91, 107, 137,1.0);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background-image: url(../img/);
}